.quyosh{
    background-color: white;
    color: cornflowerblue;
    border-radius: 10%;
}

.txt1
{
    font-size: 40px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: rgb(97, 222, 253) ;
}

.bulut{
    background-color: white;
    color: cornflowerblue;
    border-radius: 10%;
}

.txt2
{
    font-size: 40px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: rgb(97, 222, 253) ;
}